<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Club Tasks</title>
</head>

<body>
    <div>
        {% for entry in entries %}
        <div>
        </div>
        {% endfor %}
    </div>

    <div>
        <form action="./membership.html" method="get">
            <button>Membership</button>
        </form>
    </div>

    <div>
        <form action="./membership.html" method="get">
            <button>Equipmant</button>
        </form>
    <!-- </div>

    <div>
        <a href="./tasks/membership.html">Membership</a>
    </div>
    <div>
        <a href="./tasks/equipment.html">Equipmant</a>
    </div> -->
</body>

</html>
