<!-- <!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Membership</title>
</head>

<body>
    <div>
        {% for entry in entries %}
        <div>id: {{ entry.id }}, 
             grade: {{ entry.grade }}, 
             name: {{ entry.name }},
             pre: {{ entry.pre }},
             current: {{ entry.current }},
             pro: {{ entry.pro }}
        </div>
        <form action="/pay" method="post">
            <input type="hidden" name="id" value="{{ entry.id }}">
            <button>{{ entry.pre }}</button>
        </form>
    </div>
</body>

</html> -->
